---
layout: base
---
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{page.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ page.date | date: "%-d %B %Y %X"}}</div>
                    <!-- Post categories-->
                    <div class="post-categories">
                        {% if post %}
                        {% assign categories = post.categories %}
                        {% else %}
                        {% assign categories = page.categories %}
                        {% endif %}
                        {% for category in categories %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="{{site.baseurl}}/{{category|slugize}}">{{category | capitalize}}</a>
                        {% unless forloop.last %}&nbsp;{% endunless %}
                        {% endfor %}
                    </div>
                </header>
                <!-- Preview image figure-->
                {% if page.header-image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="{{page.header-image}}" alt="..." /></figure>
                {% endif %}
                <!-- Post content-->
                <section class="mb-5">
                    {{ content }}
                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Tags widget-->
            <div class="card mb-4">
                <div class="card-header">Tags</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">De momento esto está de ejemplo, no sé que poner aquí osea que disculpa si te molesta este cuadro!</div>
            </div>
        </div>
    </div>
</div>
